{% extends "base.html" %}
{% block content %}
<div class="row">

    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>nome</th>
                    <th>dt nasc</th>
                    <th>especialidade</th>
                    <th>sexo</th>
                </tr>
            </thead>
            <tbody>
                {% for medico in medicos %}
                <tr>
                    <td>{{medico.nome}}</td>
                    <td>{{medico.dt_nasc}}</td>
                    <td>{{medico.especialidade}}</td>
                    <td>{{medico.sexo}}</td>
                    <td>
                        <a href="/atendimento/medico/{{medico.id}}/">ver</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>foram encontrados {{medicos| length }} medicos</p>
    </div>
    
</div>
{% endblock %}