{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row">
  <div class="col-12 col-md-12 col-lg-12">
    <div class="jumbotron">
      <h1 class="display-4">Clínica</h1>
      <p class="lead">Seja bem-vindo ao sistema de gestão de atendimentos clínicos</p>
      <hr class="my-4">
      <p>conheça abaixo as opções do sistema.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class=" col-12 col-md-6 col-lg-3">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'img/A.jpg' %}"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text"></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'img/AA.jpeg' %}"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Estacionamento</h5>
        <p class="card-text">melhores estacionamentos</p>
        <a href="#" class="btn btn-primary">clique aqui</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'img/AAA.jpg' %}"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Atendimento</h5>
        <p class="card-text"></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'img/AAAA.jpeg' %}"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">medicos</h5>
        <p class="card-text">todos nossos médicos</p>
        <a href="/atendimento/medico" class="btn btn-primary">abrir tabela médicos</a>
      </div>
    </div>
  </div>

  {% endblock %}
