{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>nome</th>
                    <th>dt nasc</th>
                    <th>cpf</th>
                    <th>sexo</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td>{{cliente.nome}}</td>
                    <td>{{cliente.dt_nasc}}</td>
                    <td>{{cliente.cpf}}</td>
                    <td>{{cliente.sexo}}</td>
                    <td>
                        <a href="/atendimento/cliente/{{cliente.id}}/">ver detalhes</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>foram encontrados {{clientes| length }} clientes</p>
    </div>
</div>

{% endblock %}
